type=mysql
driver=com.mysql.jdbc.Driver
url=jdbc:mysql://localhost:3306/artifactory?characterEncoding=UTF-8&elideSetAutoCommits=true
username={{ artifactory_username }}
password={{ artifactory_password }}